# Python
## Python
### Python

In [3]:
pwd

'C:\\Users\\SYS-16'

### insert a image
![text]()

### insert a site
[site](https://www.google.com/search?q=image&source=lnms&tbm=isch&sa=X&ved=2ahUKEwi0ut7qzpjmAhXafH0KHQHfB70Q_AUoAXoECA4QAw&biw=1094&bih=506)

### for creating ordered list
1. abc
2. efg
  1. A
  2. B
3. hij
 1. c
  2. d

 ### symbols for unordered list
 abc

### "bold and single"italic text
"gitam"

In [1]:
print("hello world")

hello world

In [2]:
# variable creating
a = 10
b = 10
a+b

20

In [3]:
name = "Gitam"
print("university"+name)

universityGitam

In [4]:
name = input("enter a name")
age = int(input("enter  the age"))
print ("my name is",name,"my age is",age)

enter a namepavan
enter  the age20
my name is pavan my age is 20

### take two inputs and do the following arithmatic operations\
add ,sub,mul,div

In [11]:
a = 12
b = 25
c=a+b
d=a-b
e=a*b
f=a/b
print(c)
print(d)
print(e)
print(f)

37
-13
300
0.48

### fundamental datatypes
1. int
2. float
3. complex
4. boolean
5. string

In [12]:
a = 10
b = 20.05
c = 5+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [13]:
c = complex(3,4)
print(c)

(3+4j)

In [14]:
c1 = 3+5j
c2 = 6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)
print(c1/c2)

(9+12j)
(-3-2j)
(-17+51j)
(0.6235294117647059+0.10588235294117647j)

In [15]:
a = 10
b = 10.009
a>b

False

In [16]:
s1 = "abc"
s2 = "xyz"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [22]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [24]:
a1 = 1234
print(len(str(a1)))

4

### operators
1. arithematic operatorts --> +,-,*,%,//,**
2. logical operators --> and,or,not
3. relational operators --> <,>,<=,>=,==,!=
4. Membership operators --> in,not in

In [25]:
n1 = 12
n2 = 21
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1%n2)
print(n1/n2)
print(n1//n2)
print(n1**n2)

33
-9
252
12
0.5714285714285714
0
46005119909369701466112

In [30]:
10**3

1000

In [31]:
# relational operators
print(n1==n2)
print(n1>n2)
print(n1!=n2)
print(n1<n2)

False
False
True
True

In [37]:
print('a\nb')

a
b

In [38]:
a = 10
b = 10
print(a!=b)

False

In [2]:
# logical operators
n1 = 12
n2 = 21
print(n1>=9 and n1<=15)
print(n1>=9 or n1<=11)
print(not n1)

True
True
False

### Problem on relational operators
take two integer numbers and do the following operations
<,>,==,!=,<=,>=

### Membership operators
    in -- if value is found in sequence..
    not in --if value is not found in sequence

In [1]:
f = [1,2,3,4]
print(1 in f)
print(5 in f)
print(2 not in f)
print(6 not in f)

True
False
False
True

### Conditional statements
1. if
2. else
3. elif
### Syntax:
#### if condition:
         statements
#### else:
         statements

TO check even or odd

In [6]:
n = int(input("enter a number"))
if n%2 == 0:
   print("even")
else :
     print("odd")

enter a number5
odd

To check given number is multiple of 3 and 5

In [13]:
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
    print("yes")
else :
     print("no")

enter a number20
no

Check the number is +ve ,-ve ,0

In [18]:
n = int(input("enter a number"))
if n>0:
    print("positive")
elif n<0:
     print("negative")
else :
     print("zero")

enter a number0
zero

In [24]:
# leap year
n = int(input("enter the number"))
if n%4 == 0:
       print("leap year")
else :
     print("not a leap year")

enter the number2016
leap year

In [1]:
# print numbers from 1 to n
n = int(input("enter a number"))
i = 1
while i<=n:
     print(i,end=" ")
     i =i+1

enter a number10
1 2 3 4 5 6 7 8 9 10

In [2]:
# read a number
#output should be sum of even numbers from 1 to n
n = int(input("enter a number"))
i = 1
s = 0
while i <= n:
    if i % 2 == 0:
        s = s+i
    i = i + 1
print(s)

enter a number10
30