### Functional Programming
1. Simple
2. Easy to understand
3. Better reuseability
4. Length of program will be divided into sub programs.

In [3]:
def nameoffunction(<parameters>):
    statements
    return

SyntaxError: invalid syntax (<ipython-input-3-505c7e4ae0b5>, line 1)

In [5]:
# read a number
# print the even digit sum from the number
# input :1234
# output : 6(2+4)
def evendigitsum(n):
    s = 0
    while n != 0:
        r = n % 10
        if r % 2 == 0:
            s = s + r
        n = n //10
    return s
evendigitsum(1234)

6

In [7]:
def square(x):
    return x*x
square(3)

9

In [8]:
def cube(x):
    return x**3
cube(3)

27

In [14]:
def multiply(x,y=0):
    print("value of x=",x)
    print("value of y=",y)
    return(x*y)
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

In [26]:
# swap values
def swap(x,y):
    z=x
    x=y
    y=z
    return x,y
swap(2,3)

(3, 2)

In [30]:
#Input : 19355
#output :9 (largest digit of the given number)
def largedigit(n):
    large = 0
    while n!=0:
        r=n%10
        if large<r:
            large=r
        n=n//10
    return large
largedigit(19356)

9

## For loop
#### syntax 1:
for i in range (start,stop,step):
> statements
#### syntax 2:
for i in Iterableobject:
> statements

In [31]:
# function to print the numbers between the two limits
def printseries(lb,ub):
    for x in range(lb,ub+1):
        print(x,end=' ')
    return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

## Collection types:
1. List
2. Tuple
3. Set
4. Dictionary
### List:
 -  one of the data structure in Python
 -  Data structure means to store,sort and search options
 - Its one common Data structure in python ,the items of list seperated by comma  and enclosed in square brackets[]
### Examples:
  - list1 = [1,2,3,4]
  - list2 = ["GITAM",1,2]

In [46]:
l1 = [1,8,16,25,14]
print(l1)
print(l1[0])
print(l1[3])
print(l1[2])
print(l1[-1])
print(l1[1:])
print(l1[3:])
print(l1[0:3])
print(l1[0:4])
print(l1[0],l1[3])
print(l1[0:3],l1[4])
print(l1[3]**2)

[1, 8, 16, 25, 14]
1
25
16
14
[8, 16, 25, 14]
[25, 14]
[1, 8, 16]
[1, 8, 16, 25]
1 25
[1, 8, 16] 14
625

In [47]:
# update list
l1 = ['gitam',1234,'hyd']
print(l1)
l1[1]=456
print(l1)

['gitam', 1234, 'hyd']
['gitam', 456, 'hyd']

In [48]:
# delete a value from list
l1 = ['gitam',1234,2018,2019,'hyd']
print(l1)
del l1[3]
print(l1)

['gitam', 1234, 2018, 2019, 'hyd']
['gitam', 1234, 2018, 'hyd']

In [49]:
# basic list operators
l1 = [1,2,3,4]
# length of the string
print(len(l1))

4