In [3]:
# Basic list functions
li = [1,9,16,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)//len(li))

25
1
56
11

In [9]:
li = [1,9,16,25,9]
li.append(29) # add the new items at the end
li.insert(2,56) # add the new item at the specific index 
li.append(9)
li.count(9) #return the value how many objects repeated
li.index(56) # return the value at that index

2

In [31]:
# Method of list object
li = [1,9,16,56,25,5,9]
#k.sort() # sorts the list in assending order
li.pop() # last index value
print(li)

[1, 9, 16, 56, 25, 5]

In [35]:
li1 = [1,6,19,25]
#li.extend(li1)
#li1.reverse()
li.sort()
li

[1, 1, 1, 5, 6, 6, 9, 16, 19, 19, 25, 25, 25, 56]

In [36]:
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[16,1,25,6,9,45,22]
print(largenumber(li))
print(genericlarge(li,3))

45
22

In [41]:
def smallestnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n-1]
li = [16,1,25,6,9,45,22]
print(smallestnumber(li))
print(genericsmall(li,3))

1
9

### Tuples:
 - parenthesis() --->Tuple and square brackets[] ----->List
 - difference between list and tuples
   - list are mutable - can be changed/modified
   - used to access and modify,add,delete data
   - tuples are immutable - cannot be changed
   - used to access the data only

In [42]:
t1 = (1,2,3,4,5,6)
t1
print(type(t1),t1[1:5])

<class 'tuple'> (2, 3, 4, 5)

### Dictionaries:
1. It works on the concept of set Unique data
2. Keys,values is the unique identifier for the value
3. Each key is separated from its value with colon(:)
4. Each key and value is seperated with comma(,)
5. Dictionaries enhanced with curly braces ( {} )

In [48]:
d1 = {"Name":"GITAM","Email id":"gitam@gmail.in","Address":"Hyderabad"}
d1["Name"] #access the specific key
d1["Email id"]="gitam@gmail.com" # update the data
d1

{'Name': 'GITAM', 'Email id': 'gitam@gmail.com', 'Address': 'Hyderabad'}

In [51]:
d1["course"]="Python" #adding an entry
d1

{'Name': 'GITAM',
 'Email id': 'gitam@gmail.com',
 'Address': 'Hyderabad',
 'course': 'Python'}

In [52]:
del d1["Email id"]
d1

{'Name': 'GITAM', 'Address': 'Hyderabad', 'course': 'Python'}

In [53]:
d1.keys()

dict_keys(['Name', 'Address', 'course'])

In [54]:
d1.values()

dict_values(['GITAM', 'Hyderabad', 'Python'])

In [55]:
d1.items() #the list of tuples of keys and values

dict_items([('Name', 'GITAM'), ('Address', 'Hyderabad'), ('course', 'Python')])

### Strings:
 - Strings
 - String Slicings
 - Fundamental Programming with String in Python

In [56]:
s1 = "Python"
print(s1)
print(type(s1))

Python
<class 'str'>

In [60]:
s1 = "Python"
print(s1[0]) #Access the first character
print(s1[1]) # Access the second character
print(s1[5]) #Access the last character
print(s1[len(s1)-1]) #Access the last character

P
y
n
n

In [62]:
print(s1[-1]) #Access the last characters
print(s1[-2]) #Access the last second characters
print(s1[0:2])
print(s1[:2])
print(s1[-3:])
print(s1[2:])

n
o
Py
Py
hon
thon

In [65]:
print(s1[1:-1]) # printing all characters except first and last
print(s1[len(s1)//2]) # middle of the string
print(s1[-1::-1]) # reverse of the string
print(s1[-1:-3:-1]) # access the last two characters in the reverse order
#Access the alternate characters
print(s1[::2]) #two characters
print(s1[::3]) # three characters
print(s1[::-2]) # from reverse order

ytho
h
nohtyP
no
Pto
Ph
nhy

In [66]:
# Reverse a string
def reversestring(str):
    return str[-1::-1]
reversestring("Programming")

'gnimmargorP'

In [ ]:
# check whether the given string is palindrome or not
def ispalindrome(str):
    if str == str[-1::-1]:
        return True
    else :
        return False
    return
print(ispalindrome("Python"))
print(ispalindrome("ganag"))

### String Buil-in methods:
1. upper() --- Will convert the input string into Upper case
2. lower() --- Will convert the input string into lower case

In [70]:
s1 = "Python"
print(s1.upper())
print(s1.lower())

PYTHON
python

#### String Boolean built-in methods:
1. islower() -- True if the string have all characters lower case
2. isupper() -- True if the string have all characters upper case
3. istitle() -- true if the string in title case
4. isnumeric() -- True if the string numeric
5. isalpha() -- True if the string only alphabets
6. isspace() -- True if the string is space

In [77]:
s1 = "python"
s2 = " "
print(s1.islower())
print(s1.isupper())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())
print(s2.isspace())

True
False
False
False
True
False
True

## String  Methods:
 - join() -- Method will concatinates the two strings
 - split() -- returns a list of strings seperated by whitespace(no parameter)
 - replace() -- replaces the specific word/character with new word/character

In [82]:
s1 = 'python'
print(" ".join(s1))

p y t h o n

In [83]:
s2="python programming is easy to learn"
print(",".join(s2))

p,y,t,h,o,n, ,p,r,o,g,r,a,m,m,i,n,g, ,i,s, ,e,a,s,y, ,t,o, ,l,e,a,r,n

In [86]:
li=['python programming']
print(" ".join(li))

python programming

In [89]:
s1="python programming easy to learn"
print(s1.split())
print(s1.split('a'))
print(len(s1))
li=s1.split()
print(li)
print(len(li))

['python', 'programming', 'easy', 'to', 'learn']
['python progr', 'mming e', 'sy to le', 'rn']
32
['python', 'programming', 'easy', 'to', 'learn']
5

In [91]:
s2="python programming easy to learn"
li=list(s2)
print(li)
print(s2.replace("gra","Application"))

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']
python proApplicationmming easy to learn